body {
    background-color: var(--color-dblue);
    background-size: contain;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: "Bounded";
    src: url('../assets/fonts/Bounded-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Unbounded";
    src: url('../assets/fonts/Unbounded.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "VelaSans";
    src: url('../assets/fonts/VelaSans-Regular.woff2') format('woff2'),
         url('../assets/fonts/VelaSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root{
    --color-dblue: #252740;
    --color-blue: #679DFF;
    --color-white: #FFFFFF;
    --color-black: #2F2D2C;
    --color-gray: #5C5C5C;
    text-align: center;
}

.container {
display: flex;
flex-wrap: wrap;
height: 100%;
width: 100%;

}

 
.strelka{ 
  padding: 0; 
  margin: 0 auto; 
  display: flex;
  justify-content:center;
  
} 
 
.strelka a{ 

  border: 1px black; 
  border-radius: 16px;
  width: 56px;
  height:56px;
  background-color: var(--color-white);
  justify-content:center;
  background-color: #F3F3F3;
  background-image: url("../assets/icons/tuda.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;  
  top:0;
  left:0;
  margin-top: 8px;
  margin-left: 8px;
} 
.strelka p{ 

  position: absolute;  
  top:0;
  left:0;
  margin-top: 23.5px;
  margin-left: 76px;
  font-family: "VelaSans";
  font-size: 18px; 
  font-weight: 400;
  font-style: var(--color-white);
  color: var(--color-white);
} 

.left {
display: flex;
flex-direction: column;
justify-content: center;
position:fixed;
left:0;
top:0;
width:50%;
height:100%;
overflow: hidden;
}


.center-text-box {
 text-align: center;
 vertical-align: middle;

}
.right {
position:fixed;
right:0;
top:0;
width:50%;
height:100%;
overflow: hidden;
}

  

svg {
 width: 948px;
 height: 1085px;
 left: 1920px;

  }

h1 {
    color: white;
    font-family: "Unbounded";
    font-weight: 500;
    font-size: 38px;
    line-height: 142%;
    text-align: center;
    padding: 0;
    margin-bottom: 12px;
    
}

h2 {
    color: var(--color-white);
    font-family: "Bounded";
    font-weight: 400;
    font-size: 14px;
    line-height: 142%;
    text-align: center;
    padding: 0;
    margin-bottom: 32px;
}


.submit {
text-decoration: none;
}

p { 
    font-family: "VelaSans";
    color: var(--color-white);
    font-weight: 400px;
    font-size: 14px;
    line-height: 150%;
    padding: 0;
}
.wtf {
    margin-bottom: 16px;
}
.wtf a{
   color: #679DFF;
}

    .input [type="mail"] {
        width: 35vw;
        height: 78px;
        text-indent: 84px;
        font-family: "VelaSans";
        font-size: 18px;
        background-color: var(--color-white);
        border: 1px color(--color-gray);
        outline: none;
        border-radius: 50px;
        width: 467px;
        color: var(--color-gray);
        background-image: url(../assets/icons/mail.svg);
        background-repeat: no-repeat;
        background-position: 10px center;
       
    }



button {
  display: inline-block;
  text-decoration: none;
  width: 467px;
  height: 78px;
  color: var(--color-white);
  background: #607190;
  border-radius: 50px;
  border: 0;
  font-family: "VelaSans";
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  padding: 0;
  margin-top: 32px;
  cursor: not-allowed;

} 

#myButton.active-button {
  background-color: var(--color-blue);
  color: white;
  cursor: pointer;


}


button a{
  text-decoration: none; 
  color: var(--color-white);
}