body {
    /*width: 100vw;
    height: 100vh;*/
    background-color: var(--color-dblue);
    background-size: contain;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: "Bounded";
    src: url('../assets/fonts/Bounded-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "BricolageGrotesque";
    src: url('../assets/fonts/BricolageGrotesque.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "VelaSans";
    src: url('../assets/fonts/VelaSans-Regular.woff2') format('woff2'),
         url('../assets/fonts/VelaSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/*
.bricolage-grotesque-font {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.unbounded-font {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: medium;
  font-style: normal;
}*/

:root{
    --color-dblue: #252740;
    --color-blue: #679DFF;
    --color-white: #FFFFFF;
    --color-black: #2F2D2C;
    --color-gray: #5C5C5C;
    text-align: center;
}

.container {
display: flex;
flex-wrap: wrap;
height: 100%;
width: 100%;

}

.left {
position:fixed;
left:0;
top:0;
width:50%;
height:100%;
overflow: hidden;
}

.right {
position:fixed;
right:0;
top:0;
width:50%;
height:100%;
overflow: hidden;
}
.centered {
  position: absolute;
 /* 
 transform: translate(-50%, -50%);*/
  text-align: center;
}
  

svg {
 width: 948px;
 height: 1085px;
 left: 1920px;

  }

h1 {
    color: white;
    font-family: "BricolageGrotesque";
    font-weight: 700;
    font-size: 49px;
    line-height: 142%;
    text-align: center;

}

h2 {
    color: white;
    font-family: "Bounded";
    font-weight: 400;
    font-size: 14px;
    line-height: 142%;
    text-align: center;
}



button {
  display: inline-block;
  text-decoration: none;
  width: 467px;
  height: 78px;
  color: var(--color-white);
  background: var(--color-blue);
  border-radius: 50px;
  border: 0;
  font-family: "VelaSans";
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  gap: 10px;
} 
.submit {
text-decoration: none;
}

#flex-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#form-container {
    width: 504px;
    height: 504px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
p { 
    font-family: "VelaSans";
    color: var(--color-white);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}
/*

.login {
    display: flex;
    justify-content: center;    
    text-align: center;
    background: var(--color-white);
    border: 0;
    
}
.login input [type = "text"], .login input [type = "password"] {
    display: block;
    background: #FFFFFF;
    border: none;
    color: var(--color-gray);
    padding: 15 px, 20px;
    text-align: center;
    outline: auto;
}
    */


    .input input {
        width: 467px;
        height: 78px;
        text-indent: 84px;
        font-family: "VelaSans";
        font-size: 18px;
        background-color: var(--color-white);
        border: 1px color(--color-black);
        outline: none;
        border-radius: 50px;
        width: 467px;
   
    }
  .i {
  background: url('') no-repeat center / contain; 
  border: none;
  padding: 10px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}