body {
    background-color: var(--color-dblue);
    margin-top: 0;
    margin-right: 0;
    margin: 0;
}

@font-face {
    font-family: "Bounded";
    src: url('../assets/fonts/Bounded-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "BricolageGrotesque";
    src: url('../assets/fonts/BricolageGrotesque.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "VelaSans";
    src: url('../assets/fonts/VelaSans-Regular.woff2') format('woff2'),
         url('../assets/fonts/VelaSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root{
    --color-dblue: #252740;
    --color-blue: #679DFF;
    --color-white: #FFFFFF;
    --color-black: #2F2D2C;
    --color-gray: #5C5C5C;
    text-align: center;
}

.container {
display: flex;
flex-wrap: wrap;
height: 100%;
width: 100%;

}

.left {
display: flex;
flex-direction: column;
justify-content: center;
width:50%;
height:100vh;
overflow: hidden;
}


.center-text-box {
 text-align: center;
 vertical-align: middle;

}
.right {
width:50%;
height:100vh;
overflow: hidden;
}

  

svg {
 width: 948px;
 height: 1085px;
 left: 1920px;

  }

h1 {
    color: white;
    font-family: "BricolageGrotesque";
    font-weight: 700;
    font-size: 49.41px;
    line-height: 142%;
    text-align: center;
    padding: 0;
    margin-bottom: 12px;
    
}

h2 {
    color: white;
    font-family: "Bounded";
    font-weight: 400;
    font-size: 14px;
    line-height: 142%;
    text-align: center;
    padding: 0;
    margin-bottom: 32px;
}




button {
  display: inline-block;
  text-decoration: none;
  width: 467px;
  height: 78px;
  color: var(--color-white);
  background: var(--color-blue);
  border-radius: 50px;
  border: 0;
  font-family: "VelaSans";
  font-weight: 500;
  font-size: 18px;
  text-align: center;
    margin-top:32px;
} 

button a{
  text-decoration: none; 
  color: var(--color-white);
}

.submit {
text-decoration: none;
}

p { 
    font-family: "VelaSans";
    color: var(--color-white);
    font-weight: 400px;
    font-size: 14px;
    line-height: 150%;
    padding: 0;
}

.wtf a{
   color: #679DFF;
}

.linkpass a{
   color: #679DFF;
}

.form-container {
    width: 467px;
    height: 172px;
    display: inline-block;

}



    .form-container .input {
     width: 467px;
     height: 78px;
     align-items: center;
     background: var(--color-white);
     outline: solid black 1px;
     border-radius:50px;
            margin-bottom: 16px;

    
    }

.form-container .input input {
      
    width:330px;
    outline:0px;
    margin-top: 20px;
    float:left;
    padding: 5px;
    font-family: "VelaSans";
    font-size: 18px;
    color: var(--color-gray);
    border:none;

    }

  
    .input .svglogin img {
      float:left;
      margin:0;
      padding:10px;
      }

   .input .errorlog img {
        float:left;
      margin-top:-12px;
      margin-left:30px;
          position:absolute;
      padding:0px;
    }

    .input .svgpass img {
      float:left;
      margin:0;
      padding:10px;
      }
         
    .input .svgeye img {
        width: 24px;
        cursor: pointer;
        position: absolute;
        margin-left:-52px;
        padding:27px;

     
    }