/* src/components/auth/ChangePasswordForm/ChangePasswordForm.module.css */
.formContainer {
  text-align: center;
  width: 467px;
  max-width: 100%;
}

.title {
  font-family: "Unbounded";
  font-weight: 500;
  font-size: 38px;
  color: var(--color-white);
  margin-bottom: 12px;
  line-height: 142%;
}

.subtitle {
  font-family: "Bounded";
  font-weight: 400;
  font-size: 14px;
  color: var(--color-white);
  margin-bottom: 32px;
  line-height: 142%;
}

.form {
  width: 100%;
}

.emailInput {
  margin-bottom: 32px;
}

.footer {
  margin-top: 16px;
}

.footer p {
  font-family: "VelaSans";
  color: var(--color-white);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.link {
  color: var(--color-blue);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .title {
    font-size: 32px;
  }
  
  .subtitle {
    font-size: 12px;
  }
}